.mb-2{
    width: 500px;
}
h2{
    font-family: 'Comic Sans''Courier New', Courier, monospace;
}
.darkcolor{
    background-color: #141463 !important;
}
.headerfont{
    color:#000000bd !important;
}
.darkfont{
    color:#141463;
}
